  .about-text {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 0 160px;
  }

  .about-section{
    margin: 0 0 60px 0;
  }

  @media (max-width: 1024px) {
    .about-text {
      font-size: 1.2rem; 
      margin: 0 0 20px 20px; 
    }
  
    .about-section {
      margin: 0 20px 60px 20px; 
    }
  
    /* Deja que el grid maneje el ancho, ocupando el 100% de la celda */
    .our-locals .local-card {
      width: 100%;
      margin-bottom: 20px;
    }
  
    /* Quita o comenta esta regla para evitar ocultar tarjetas
    .our-locals .local-card:nth-child(n+7) {
      display: none; 
    }
    */
  }
  

  @media (max-width: 768px) {
    /* Ajusta el contenedor si es necesario */
    .our-locals {
      padding: 20px 15px; 
      margin: 0 auto;    
      width: 100%;       
      max-width: 600px;  
    }
  
    /* Forzar que cada tarjeta ocupe el 100% de su celda */
    .our-locals .local-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  

@media (max-width: 480px) {
  .about-text {
    font-size: 1rem; 
    margin: 0 0 10px 10px; 
  }

  .our-locals .local-card {
    width: 90%; 
    margin-bottom: 20px;
  }
}
