.titleFAQ{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 60px 0 30px 200px;
}

.background{
    background-color: #F0F0F0;
    margin: 0 200px 80px;
    border-radius: 16px;
    padding: 60px;
}

/* Evitar scroll horizontal */
html, body {
    overflow-x: hidden;
  }
  
  /* Scrollbar general */
  ::-webkit-scrollbar {
    width: 10px; /* Grosor de la scrollbar */
  }
  
  /* Ocultar las flechas de la scrollbar */
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Fondo de la scrollbar */
  ::-webkit-scrollbar-track {
    background: #e0e0e0; /* Gris claro */
    border-radius: 50px; /* Redondeo del fondo */
  }
  
  /* Barra de desplazamiento (completamente redonda) */
  ::-webkit-scrollbar-thumb {
    background: #b0b0b0; /* Gris oscuro */
    border-radius: 9999px; /* Completamente redondo */
    transition: background 0.3s ease-in-out;
  }
  
  /* Hover en la barra */
  ::-webkit-scrollbar-thumb:hover {
    background: #909090; /* Oscurece un poco al pasar el mouse */
  }
  
  /* Scrollbar para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 #e0e0e0;
  }
  