* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }
  
/* Contenedor PRINCIPAL*/
.image-wrapper {
  border-radius: 50px;
  border: 7px solid #F5F6F8;
  overflow: hidden;
  height: 500px;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Images/advertisment.jpg);
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
}

/* Imagen adentro del contenedor*/
.rounded-image {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    border-radius: 50px;
}
  
/* Contenedor de filtros */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

  /* Estilos base de los filtros */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
  
.filter:hover {
  transform: scale(1.1); 
}

/* BUSCADOR*/
.search-container {
  display: flex;
  justify-content: center;
  margin: 60px 0 0px 0px;
}
  
.search-box {
  display: flex;
  align-items: center;
  background: #0D4F66; 
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0 4px 8px rgba(93, 93, 93, 0.1);
  gap: 10px;
  width: 600px;  
  height: 65px;
}
  
/* Input de búsqueda */
.search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  padding: 10px 15px;
  border-right: 1px solid #ddd;
  flex: 1;
}
  
.search-input input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #555;
  width: 100%;  
}  
/* Selector de ubicación */
.search-location {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  min-width: 120px; 
  justify-content: space-between;
  color: #555;
}  
/* Dropdown */
.dropdown {
  position: absolute;
  top: 0px;
  left: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 180px;
  overflow: hidden;
  z-index: 100;
  color: #a81313;
}
  
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
  color: #919191;
}
  
.dropdown-item:hover {
  background: #eaeaea;
}

/* Botón de búsqueda */
.search-button {
  background: #f2f2f2;
  color: #0D4F66;
  border: none;
  margin: 3px;
  padding: 16px 36px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 600;
}

.search-button:hover {
  background: #ffffff;
}

/*Sección azul de publicidades*/
.blue-section {
  background-color: #0d4f66;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}
  
.swiper {
  width: 100%;
  height: 400px;
  overflow: visible;
}
  
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  width: 600px !important; 
  margin-top: 40px;
}
  
.swiper-slide img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
  border: 5px solid white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
  
.swiper-slide-active img {
  transform: scale(1.1);
}

/* Cartas de informacion*/
.info-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en una fila */
  gap: 40px; 
  max-width: 900px;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.card {
    background: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Efecto hover */
}

/* Media querys*/
@media (max-width: 768px) {
  .info-cards {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .info-cards {
      grid-template-columns: repeat(1, 1fr); /* 1 columna en móviles */
  }
}

@media (max-width: 600px) {
.info-cards {
grid-template-columns: repeat(1, 1fr); 
}
}
.grid-links {
display: grid;
grid-template-columns: 1fr; 
gap: 15px;
text-align: center;
max-width: 300px; 
margin: 0 auto;
}

.link-item {
display: block; 
text-decoration: none;
color: #555;
font-size: 1rem;
padding: 12px;
background: #f7f7f7;
border-radius: 8px;
transition: background 0.3s, transform 0.2s;
}

.link-item:hover {
background: #e2e2e2;
transform: scale(1.05);
}

.logos-container {
width: 100%;
overflow: hidden;
background: #f8f8f8; 
padding: 30px 0;
display: flex;
align-items: center;
white-space: nowrap;
width: 100vw;
align-items: center;
justify-content: center;
margin-bottom: 80px;
}

.logos-slide {
display: flex;
align-items: center;
gap: 40px;
animation: scroll 35s linear infinite;
}

.logos-slide img {
height: 80px; 
width: auto;
}

.searchIcon{
color: rgba(220, 220, 220, 0.291);
margin-top: 8px;
width: 20px;
height: 20px;
}

html, body {
overflow-x: hidden;
}

::-webkit-scrollbar {
width: 10px; 
}

::-webkit-scrollbar-button {
display: none;
}

::-webkit-scrollbar-track {
background: #e0e0e0; 
border-radius: 50px;
}

::-webkit-scrollbar-thumb {
background: #b0b0b0; 
border-radius: 9999px; 
transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
background: #909090; 
}

* {
scrollbar-width: thin;
scrollbar-color: #b0b0b0 #e0e0e0;
}

.dropdown {
max-height: 150px; /* Limita la altura */
overflow-y: auto;  /* Permite scroll */
}


.search-input input {
border: none;
outline: none;
flex: 1;
font-size: 16px;
padding: 5px;
}

.search-input .searchIcon {
font-size: 20px;
color: #aaa;
}

.suggestions-dropdown {
width: 18%;
position: absolute;
background-color: #fff;
border: 1px solid #ccc;
border: none;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
max-height: 150px;
overflow-y: auto;
z-index: 10;
margin-top: 200px
}

.suggestions-item {
padding: 10px;
cursor: pointer;
transition: background-color 0.3s;
}

.suggestions-item:hover {
background-color: #f0f0f0;
}

.search-location {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: transparent;
border-radius: 5px;
color: white;
}

.search-location span {
font-size: 16px;
}

/* Estilos para los resultados */
.results-container {
margin-top: 20px;
display: grid;  
grid-template-columns: repeat(4, 1fr);  /* 4 columnas con el mismo tamaño */
gap: 20px;  
grid-auto-rows: minmax(200px, auto); 
margin-bottom: 60px;
}

.card h3 {
margin-top: 10px;
font-size: 20px;
}

.card p {
color: #555;
}

.card-link {
color: #00a8b5;
text-decoration: none;
}

.card-link:hover {
text-decoration: underline;
cursor: pointer;
}

.promo-img {
width: 100%; 
max-width: 300px; 
height: auto;
}

.search-input input {
color: white;  
}

/* Para tablets */
@media (max-width: 1024px) {
.info-cards {
grid-template-columns: repeat(2, 1fr); /* Dos tarjetas en la fila superior */
}

.info-cards .card:nth-child(3) {
grid-column: span 2; /* La tercera tarjeta se va a la fila inferior */
}

.image-wrapper {
height: 200px; 
}

.search-box {
width: 80%; 
}

.filters-container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.search-location {
display: none; 
}
.search-input {
border-right: none; 
}
.search-box {
width: 100%;
}
}

/* Para dispositivos móviles */
@media (max-width: 768px) {

.info-cards {
grid-template-columns: 1fr; /* Una tarjeta por fila */
}
.promo-img {
max-width: 200px;
}

.image-wrapper {
height: 200px;
}

.search-box {
width: 90%;
}

.filters-container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.search-location {
display: block;

}
.search-location {
display: none; /* Oculta el selector de provincia */
}
.search-input {
border-right: none; /* Elimina la línea divisoria */
}
}

/* Para pantallas más pequeñas (como teléfonos pequeños) */
@media (max-width: 480px) {
.search-location {
display: none; /* Oculta el selector de provincia */
}
.search-input {
border-right: none; /* Elimina la línea divisoria */
}
.info-cards {
grid-template-columns: 1fr;
}

.image-wrapper {
height: 150px;
}

.search-box {
width: 100%;
}

.swiper-slide {
width: 100%;
}

.blue-section {
padding: 40px 0;
}

.search-input input {
font-size: 14px;
}
}

.grid-links {
display: grid;
grid-template-columns: 1fr;
gap: 15px;
text-align: center;
max-width: 300px;
margin: 0 auto;
}

.link-item {
display: block;
text-decoration: none;
color: #555;
font-size: 1rem;
padding: 12px;
background: #f7f7f7;
border-radius: 8px;
transition: background 0.3s, transform 0.2s;
}

.link-item:hover {
background: #e2e2e2;
transform: scale(1.05);
}

/* Estilos para los anuncios */
.ads-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-top: 40px;
}

.ad-card {
width: 300px;
height: 200px;
background: #f2f2f2;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
transition: transform 0.3s ease-in-out;
}

.ad-card:hover {
transform: scale(1.05);
}

/* Ajustes para los anuncios en dispositivos pequeños */
@media (max-width: 768px) {
.ad-card {
width: 100%;
height: auto;

}
.search-location {
display: none; /* Oculta el selector de provincia */
}
.search-input {
border-right: none; /* Elimina la línea divisoria */
}
}
.ver-mas-link{
color: #00a8b5;
}

.ver-mas-link:hover{
text-decoration: underline;
}
/* RESPONSIVE para tablets y móviles */
@media (max-width: 1024px) { /* Para tablets */
  .mySwiper {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 768px) { /* Para celulares */
  .mySwiper {
    width: 100%;
    max-width: 500px;
  }

  .blue-section {
    padding: 10px; /* Reducir el padding en móviles */
  }

  button.tab.single-tab {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}

@media (max-width: 480px) { /* Para celulares pequeños */
  .mySwiper {
    width: 100%;
    max-width: 400px; /* Reducir aún más el tamaño */
  }

  .blue-section {
    padding: 5px; /* Menos espacio alrededor */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mySwiper img {
    max-width: 350px; /* Ajustar imágenes */
    height: 150px;
    margin-left: 120px;
    margin-top: 75px;
  }
}