.card {
  width: 250px;
  border-radius: 20px;
  background: white;
  padding: 10px;
  text-align: left;
  cursor: pointer; /* Hace que el mouse cambie a "clickable" */
}

.card-image {
  width: 100%;
  height: 140px;
  background: #d9d9d9;
  border-radius: 20px;
}

.card-content {
  margin-top: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-description {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}
