.container {
  padding: 60px;
  margin: 80px 0px;
  border-top: 6px solid rgb(0, 167, 170);; 
  border-bottom: 6px solid rgb(0, 167, 170); 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
}

.card {
  width: 270px ; 
  text-decoration: none;
  color: black;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  background-color: white;
  box-shadow: none;
  padding: 10px ;

}

.card:hover {
  transform: scale(1.02);
}

.card-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  background-color: rgb(198, 198, 198);
  border-radius: 16px;
}

.card-content {
  padding: 5px;
}

.card-title {
  margin: 5px 0;
  font-size: 16px;  
  font-weight: 600;
  text-align: left; 
}

.card-description {
  font-size: 13px;  
  color: #737373; 
  text-align: left; 
}

.filtrosLocales{
  max-width: 30%;
}

.filtrosLocales .MuiAutocomplete-root {
    margin-top: 10px;
}

.ver-mas-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/*Uso el important porque como es un componente precreado si no no me deja modificar*/
.ver-mas-btn {
  background-color: #6a6a6a !important; 
  color: white !important; 
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border: none; 
}
.ver-mas-btn {
  text-transform: none !important; 
}

.ver-mas-btn:hover {
  background-color: #888888 !important; 
}

.discount-text {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}


