.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.tabs {
  display: flex;
  background: white;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: wrap; /* Esto permite que los elementos se acomoden cuando no haya espacio */
  justify-content: center; /* Asegura que los botones se centren */
}

.second-row {
  margin-top: 12px;
}

.third-row {
  margin-top: 12px;
  justify-content: center;
}

.tab {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  transition: background 0.3s ease-in-out;
  border-radius: 12px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab.active {
  background: #e0e0e0;
}

.single-tab {
  width: 300px;
  text-align: center;
}

.second-row .tab {
  padding: 30px 76px;
}

/* Ajuste de los iconos */
.tab-icon {
  width: 32px;  /* Tamaño del icono */
  height: 32px;
  margin-bottom: 8px; /* Espacio entre el icono y el texto */
}

.card-icon {
  display: block !important;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Media queries para hacerlo responsive */

@media (max-width: 768px) {
  .tabs {
    flex-direction: column; /* Los botones se apilan verticalmente */
    justify-content: flex-start; /* Los botones se alinean al inicio */
  }

  .tab {
    padding: 20px 40px; /* Reducir el tamaño del padding para pantallas más pequeñas */
    font-size: 1rem; /* Aumentar ligeramente el tamaño del texto */
  }

  .second-row .tab {
    padding: 20px 50px;
  }

  .single-tab {
    width: 250px; /* Ajustar el tamaño del solo tab */
  }

  .third-row {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .tabs {
    flex-direction: column; /* Asegurarse de que los botones se apilen en pantallas muy pequeñas */
    width: 100%; /* Los botones ocupan el ancho completo */
  }

  .tab {
    padding: 15px 20px; /* Asegurar que el padding no sea demasiado grande en pantallas pequeñas */
    font-size: 0.9rem; /* Reducir un poco el tamaño del texto */
  }

  .single-tab {
    width: 200px; /* Ajustar el tamaño de la única pestaña */
  }

  .second-row .tab {
    padding: 15px 20px; /* Reducir padding también en la segunda fila */
  }
}

