.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    
  }
  
  .tabs {
    display: flex;
    background: white;
    padding: 4px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .second-row {
    margin-top: 12px; 
  }
  
  .third-row {
    margin-top: 12px; 
    justify-content: center; 
  }
  
  .tab {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8rem;
    transition: background 0.3s ease-in-out;
    border-radius: 12px;
    padding: 30px 60px;
  }

  .tab {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }
  
  .tab.active {
    background: #e0e0e0; 
  }
  
  .single-tab {
    width: 300px; 
    text-align: center;
  }

  .second-row .tab {
    padding: 30px 76px;
  }
  
  .tab ion-icon {
    font-size: 32px; 
    margin-bottom: 8px; 
    
  }
  