.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.tabs {
  display: flex;
  background: white;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: wrap; 
  justify-content: center; 
}

.second-row {
  margin-top: 12px;
}

.third-row {
  margin-top: 12px;
  justify-content: center;
}

.tab {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  transition: background 0.3s ease-in-out;
  border-radius: 12px;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab.active {
  background: #e0e0e0;
}

.single-tab {
  width: 300px;
  text-align: center;
}

.second-row .tab {
  padding: 30px 76px;
}

.tab-icon {
  width: 32px;  
  height: 32px;
  margin-bottom: 8px; 
}

.card-icon {
  display: block !important;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Media queries para hacerlo responsive */

@media (max-width: 768px) {
  .tabs {
    flex-direction: column; 
    justify-content: flex-start; 
  }

  .tab {
    padding: 20px 40px; 
    font-size: 1rem; 
  }

  .second-row .tab {
    padding: 20px 50px;
  }

  .single-tab {
    width: 250px; 
  }

  .third-row {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .tabs {
    flex-direction: column; 
    width: 100%; 
  }

  .tab {
    padding: 15px 20px; 
    font-size: 0.9rem; 
  }

  .single-tab {
    width: 200px; 
  }

  .second-row .tab {
    padding: 15px 20px; 
  }
}

